# Default flags
CompileFlags:
  Add: [
    -DNDEBUG,
    -I../src,
    -Wall,
    -Wextra,
    -Werror,
    -pedantic,
    "-fsanitize=address,undefined",
  ]
---
# Flags for .h files
If:
  PathMatch: .*\.h
CompileFlags:
  Add: [
    -xc-header,
    -std=c23,
  ]
---
# Flags for .c files
If:
  PathMatch: .*\.c
CompileFlags:
  Add: [
    -xc,
    -std=c23,
  ]
---
# Flags for .cpp files
If:
  PathMatch: .*\.cpp
CompileFlags:
  Add: [
    -xc++,
    -std=c++23,
    -I../bin/test/googletest/googletest/include,
    -Wnomissing-field-initializers,
  ]
